/* General Loop Layout */
.wpbtpls_loop{
	overflow: hidden;
	position: relative;
 .wpbtpls-item-featured{
 	img{
 		height: auto;
 		width: 100%;
 	}
 } 
 .wpbtpls-item-content{
 	& > h4.title{
 		display: block;
 		font-size: 1.12em;
		font-weight: bold;
 		line-height: normal;
		margin-top: 1.33em;
		margin-right: 0;
		margin-bottom: 1.33em;
		margin-left: 0;
 	}
 	.date{
 		font-size: 16px;
 	}
 	p{
		display: block;
		margin-top: 0;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		font-size: 16px;
    line-height: 1.6em;
 	}
 }
}

/* Layout Standart 1 */
.wpbtpls_loop.layout-standart1{
	.wpbtpls-item{
		margin-bottom: 10px;
		&:after{
			content: "";
			clear: both;
			display: table;
		}
	}
	.wpbtpls-item-featured{
		width: 30%;
		float: left;
	}
	.wpbtpls-item-content{
		width: 70%;
		float: left;
		padding: 0 15px 15px 15px;
 		& > h4.title{
 			margin-top: 0;
 			margin-bottom: 15px; 
 		}
	}
}

/* Layout Standart 2 */
.wpbtpls_loop.layout-standart2{
	.wpbtpls-item{
		width: calc( (100% / 3) - 10px );
		float: left;
		margin: 0 5px;
		margin-bottom: 15px;
		border: 1px solid #f1f1f1;
	}
	.wpbtpls-item-featured{
		position: relative;
		.date{
			position: absolute;
			bottom: 10px;
			left: 10px;
			background: red;
			color: #fff;
			padding: 0 8px;
			font-size: 14px;
		}
	}
	.wpbtpls-item-content{
		padding: 10px;
 		& > h4.title{
 			margin-top: 0;
		}
	}
}

/* Layout Standart 3 */
.wpbtpls_loop.layout-standart3{
	.wpbtpls-item{
		width: calc( (100% / 3) - 10px );
		float: left;
		margin: 0 5px;
		margin-bottom: 15px;
		border: 1px solid #f1f1f1;
		position: relative;
		&:hover{
			.wpbtpls-item-content{
				height: 100%;
				.excerpt{
					display: block;
					position: absolute;
					bottom: 0;
					padding: 10px;
					left: 0;
					color: #fff;
					p{
						margin: 0;
					}
				}
				.title{
					display: none;
				}
			}
		}
	}
	.wpbtpls-item-featured{
		position: relative;
		.date{
			position: absolute;
			top: 10px;
			right: 10px;
			background: red;
			color: #fff;
			padding: 0 8px;
			font-size: 14px;
		}
	}
	.wpbtpls-item-content{
		padding: 10px;
		position: absolute; 
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
 		& > h4.title{
 			margin-top: 0;
 			margin-bottom: 0;
		}
		.excerpt{
			display: none;
		}
	}
}